<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Checkout\Model\CompositeConfigProvider">
       <arguments>
           <argument name="configProviders" xsi:type="array">
               <item name="config_provider_list_guest_order" xsi:type="object">Teknio\LinkGuestOrder\Model\ConfigProvider</item>
           </argument>
       </arguments>
   </type>
</config>